#document-page {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: lightgray;
}

#editor-container {
    height: 90%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 50px;
}

#editor {
    height: 100%;
    width: 100%;
}