html {
    height: 100%;
}

body {
    height: 100%;
}

#active-view {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
