#main-page {
    display: none;
}

#document-page {
    display: none;
    margin: 50px;
}

#newDocButton {
    padding: 25px;
    display: inline;
}

#main-page-inner-container {
    margin: 100px auto;
    text-align: center;
    width: 400px;
}